.profile-doctor-container {
    .intro-doctor {
        display: flex;

        .content-left-profile-doctor {
            padding-right: 15px;
            min-width    : 100px;

            .img-bacsi {
                background-size    : cover;
                background-repeat  : no-repeat;
                background-position: center;
                width              : 80px;
                height             : 80px;
                border-radius      : 50%;
                text-align         : center;
                display            : table-cell;
                vertical-align     : top;
            }

            .view-detail-doctor {
                a {
                    margin-left: 10px;
                }
            }
        }

        .content-right-profile-doctor {


            .up {
                font-weight: 600;
            }

            .down {
                text-align: justify;

            }
        }
    }

}