.detail-clinic-container {
    background-color: #eee;

    .detail-clinic-body {
        margin        : 0 100px;
        display       : flex;
        flex-direction: column;

        .description-clinic {
            background-color: white !important;
            padding         : 10px;
            margin-top: 20px;

            h1,
            h3,
            h5,
            h2 {
                font-size  : 16px;
                font-weight: 600;
            }

            .clinic-name {
                font-size: 30px;
                font-weight: 600;
                color: #45c3d2;
                margin-top: 5px;
                margin-bottom: 10px;
            }

        }

        .each-doctor {
            display         : flex;
            width           : 100%;
            min-height      : 300px;
            margin          : 15px 0;
            background-color: #fff;
            box-shadow      : 0 1px 6px #20212447;
            border-radius   : 8px;

            .dt-content-left {
                width       : 50%;
                border-right: 1px solid #ddd;

                .profile-doctor {
                    padding: 5px;
                }
            }

            .dt-content-right {
                width  : 50%;
                padding: 10px;

                .doctor-schedule {
                    .doctor-schedule-container {
                        border-right: unset !important;
                    }
                }

                .doctor-extra-info {
                    border-top: 1px solid #ddd;
                    margin-top: 10px;
                    padding   : 10px;

                    .doctor-extra-info-container {
                        padding-left: 0 !important;
                    }
                }
            }
        }


    }

}